<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>Moiseikin</title>
		<link rel="stylesheet" href="../css/style.css">
		<script src="../js/jquery.js"></script>
	</head>
	<body>
		<div class="container">
			<header>
				{% include 'header.tmpl' %}
			</header>
			<main>
				{% include 'catalog.twig' %}
			</main>
			<footer>
				{% include 'footer.tmpl' %}
			<footer>	
			</main>
		</div>
	</body>
	<script src="../js/catalog.js"></script>
</html>