<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>Moiseikin</title>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div class="container">
			<header>
				{% include 'header.tmpl' %}
			</header>
			<main>
				{% include content %}
			</main>
		</div>
	</body>
</html>